.bannerSlider {
    display: block;
    position: relative;
    background-image: url(../../../public/images/banner.JPEG);
    background-repeat: no-repeat;
    min-height: 20vh;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.bannerContent{
    display: inline-block;
    margin: 50 auto;
}

.servicesPhoto {
    background-image: url(../../../public/images/newborn.JPEG);
    min-height: 200px;
    padding: 90px 25px 50px 50px
}

iframe {
    width: 75%;
}

.servicesPhoto h1 {
    color: #000c17;
}

.mothercare{
    background-image: url(../../../public/images/mothercare.JPEG);
    min-height: 200px;
    padding: 90px 25px 50px 110px
}

.mothercare h1 {
    color: whitesmoke !important;
}

.criticaltreatement{
    background-image: url(../../../public/images/criticaltreatement.JPEG);
    min-height: 200px;
    padding: 100px 25px 50px 25px
}

.criticaltreatement h1 {
    color: #000c17;
}

.lab{
    background-image: url(../../../public/images/lab.JPEG);
    min-height: 200px;
    padding: 100px 25px 50px 25px
}

.lab h1 {
    color: whitesmoke !important;
}

.test{
    background-image: url(../../../public/images/test.JPEG);
    min-height: 200px;
    padding: 100px 25px 50px 25px
}

.test h1 {
    color: whitesmoke !important;
}

iframe {
    margin-left: 30px
}

.article {
    margin-bottom: 20px
}

h6 {
    min-width: 200%;
    color: #000;
    align-text: 'left';
}

.ant-row {
    margin-top: 10px;
}

h2 {
    margin-top: 20px
}
